<section class="container-fluid mbh">

<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post">
                <h3>Drop Us a Message</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
 
           </form>

<div class="row container-fluid">
<div class="col-md-4 card">
<p>Address:</p>
<p>Youth 4 Development</p>
<p>Kilalani, off Kenol rd, Machakos</p>
</div>

<div class="col-md-3 card">
<p>Email: youth4devke@gmail.com  </p>
<p>Phone: +254793752967 </p>

</div>

<div class="col-md-5" >
	<div class="row container justify-content-center" style="margin-top: 5vh;">
<i class="fab fa-facebook fa-2x ic text-light" style="background-color:#4867aa ;"></i>
<i class="fab fa-twitter fa-2x ic text-light" style="background-color:#5da9dd;"></i>
<i class="fab fa-youtube  fa-2x ic text-light" style="background-color:#fe0000;"></i>
<i> <img class="ig" src="assets/img/ig.png"></i>
<i class="fab fa-linkedin-in fa-2x ic text-light" style="background-color:#0077b5 ;"></i>
	 </div>

</div>
</div>


</div>

</section>