

<section>

<div class="container">

<h1 class="text-center">Contact Us</h1><br />

<div class="row">
  <div class="col-md-5 offset-md-1">
      <form action="/post" method="post">
        <input class="form-control" name="name" placeholder="Name..." /><br />
        <input class="form-control" name="phone" placeholder="Phone..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-learn-more" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-5">

<div class="container card mb-2">
<p>Address:</p>
<p>Youth 4 Development</p>
<p>Kilalani, off Kenol rd, Machakos</p>
</div>

<div class="container card mb-2">
<p>Email: youth4devke@gmail.com  </p>
<p>Phone: +254793752967 </p>

</div>

<div class="container card mb-2 vg" >
    <div class="row container-fluid justify-content-center" style="margin-top: 5vh;">
<i class="fab fa-facebook fa-2x ic text-light" style="background-color:#4867aa ;"></i>
<i class="fab fa-twitter fa-2x ic text-light" style="background-color:#5da9dd;"></i>
<i class="fab fa-youtube  fa-2x ic text-light" style="background-color:#fe0000;"></i>
<i> <img class="ig" src="assets/img/ig.png"></i>
<i class="fab fa-linkedin-in fa-2x ic text-light" style="background-color:#0077b5 ;"></i>
     </div>

</div>



  </div>
</div>

</div>


</section>

