

<section class="container-fluid mbh">


    <h1 class="text-center">About Us</h1>


  
    <div class="row container-fluid">

      <div class="col-md-5">

        <img src="assets/img/y4d.svg">

      </div>


          <div class="col-md-7">
            <h3 class="lead display-5">
YOUTH 4 Development (Y4D) is a youth-led organization based in Machakos; Kenya registered under KDO/CBO/019/142. Y4D was founded with the aim to, inspire and equip marginalised children, youth, women and persons with disabilities with the necessary entrepreneurial and life Skills for self-sustainability and independence.</h3>



<h3 class="lead display-5">Y4D transforms individuals, families, and communities so they can thrive and prosper in the society. Y4D works to eradicate poverty and enact social change through active participation and engagement of these groups in the implementation of cutting-edge youth development programs in:
            </h3>
            
            <ul >
              <li class="lead display-5" > Education</li>
              <li class="lead display-5">Health</li>
              <li class="lead display-5"> Environment & Climate change</li>
            </ul>
            <a routerLink="/programs" class="btn-learn-more">Learn More</a>
          

        </div>

            
        </div>


</section>