

<section class="container-fluid mbh">





  
    <div class="row container-fluid">

      <div class="col-md-5">

        <img src="assets/img/y4d1.svg">

      </div>


          <div class="col-md-7">
                <h1 class="text-center">About Us</h1>

            <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">
YOUTH 4 Development (Y4D) is a youth-led organization based in Machakos. Y4D was founded with the aim to, inspire and equip marginalised children, youth, women and persons with disabilities with the necessary entrepreneurial and life Skills for self-sustainability and independence.</p>



<p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D transforms individuals, families, and communities so they can thrive and prosper in the society. Y4D works to eradicate poverty and enact social change through active participation and engagement of these groups in the implementation of cutting-edge youth development programs in:
            </p>
            
            <ul >
              <li class="mbr-fonts-style text1 mbr-text display-6" > Education</li>
              <li class="mbr-fonts-style text1 mbr-text display-6">Health</li>
              <li class="mbr-fonts-style text1 mbr-text display-6"> Environment & Climate change</li>
            </ul>
            <a routerLink="/programs" class="btn-learn-more">Learn More</a>
          

        </div>

            
        </div>


</section>