

<section class="container-fluid mbh">





  
    <div class="row container-fluid">

      <div class="col-md-5 col-12 onan mt-4 container-fluid">

        <img src="assets/img/onan.png">

      </div>


          <div class="col-md-7 col-12">
                <h1 class="text-center">About Us</h1>

            <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D is run by young people for young people by means of a democratic structure and our members are mainly working on a voluntary base.  The limit age to participate in our activities is 34 years but the majority of participants are under the age of 25.  
It is young people who decide about activities of the organisation, define the strategies and implement the action plans, run the organization and ultimately evaluate it.
</p>



<p class="mbr-fonts-style text1 mbr-text display-6 text-justify"> It is important to note that most young people in Y4D are actively involved in other aspects of civil society, frequently establishing links between youth-led organizations at the local, regional and national level, extending the participation in the international organisations to the local dimension.
            </p>
            

          

        </div>

            
        </div>


</section>