.cust{
min-height: 50px;
}
.col{
 background: linear-gradient(135deg,#f8f9fa 0%,#ffcc0e  100%);


}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}