
<section class="container-fluid mbh">


    <h1 class="text-center">Our Programmes</h1>
<div class="container">

	
		<div class="row mbr-justify-content-center">


          <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-laptop fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> Digital   <span>Transformation </span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D utilises ICT in education to broaden content outreach and delivery methods with the intention of informing more young people. 
Y4D designs different interactive channels, platforms and tools where youth talk about important topics of their interest. 
Y4D creates a space to share good practices with the intention of consolidating the youth community.</p>
                    </div>
                </div>
            </div>

                        <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-female fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Women &  
                            <span>Youth Empowerment</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D promotes capacity building activities through vocational training and resource centres to vulnerable youths with income generation activities such as dress-making, hair-dressing, beads-making and table-banking projects.</p>
                    </div>
                </div>
            </div>

  



            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-carrot fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Ensuring 
                            <span>Food Security </span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D works to improve food security and ensure sustainable livelihoods programs using integrated interventions focused on sustainable agricultural projects such as poultry, fish, rabbits and cattle farming.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-globe fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Combating  <span>Climate Change</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Environmental education programs with youth groups such as tree planting projects; advocating for SMART agricultural practices in reducing the negative effects of global warming through vegetables and fruits farming. </p>
                    </div>
                </div>
            </div>
                      <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-ribbon fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> Children, Gender, &  <span>HIV/AIDS Program </span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D has been involved in awareness creation, sensitization, and behavioral change advocacy focusing on vulnerable groups such as women, children and youth. </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fa-child fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Early <span>Childhood Education</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D is passionate about making sure that all children including disabled have access to essential care and promote better education and development outcomes for the young people.</p>
                    </div>
                </div>
            </div>


                        <div class="col-lg-6 mbr-col-md-10">
                <div class="wrap">
                    <div class="ico-wrap">
                        <span class="mbr-iconfont fas fa-futbol fa"></span>
                    </div>
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Youth  <span>Extracurricular Activities </span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D groups involves the youth in extracurricular activities such as sports, cultural festivals, camps, music and drama among others.  </p>
                    </div>
                </div>
            </div>


            
        </div>

</div>

</section>