.carousel-item {
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .mbh{
    margin-bottom: 40vh;
    margin-top: 20vh;

  }
  #tron{
  background: linear-gradient(135deg,#feeb49 0%,#fe1a1a 100%);
  }
