<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('assets/img/1.jpg')">
          <div class="mbh container-fluid">
<app-mision></app-mision>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('assets/img/2.jpg')">
          <div class="mbh container-fluid">
<div class="row">
<div id="tron" class="jumbotron container col-10 offset-1 col-md-6 offset-md-3" style="text-align:center; opacity:0.9;" >
  <h1 class="display-4">Values.</h1>
  <hr class="my-4">
<ul id="tron" class="list-group list-group-flush">

<li class="display-4 lead list-group-item">Diversity</li>
<li class="display-4 lead list-group-item">Equity </li>
<li class="display-4 lead list-group-item">Inclusion</li>


</ul>


</div>
          </div>

          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('assets/img/3.jpg')">
          <div class="mbh container-fluid">
<div class="row">
<div id="tron" class="jumbotron container col-10 offset-1 col-md-6 offset-md-3" style="text-align:center; opacity:0.9;" >
  <h1 class="display-4">Goal.</h1>
  <hr class="my-4">
  <h2 class="lead display-5" >To inspire and equip young people with the necessary skills and confidence to reach their full potential.</h2>


</div>
          </div>
        </div>
      </div>
</div>
    </div>
  </header>