<div class="row mbh container-fluid">
<div id="tron" class="jumbotron container col-md-4 " style="text-align:center;  opacity:0.9;" >
  <h1 class="display-4">Vision</h1>
  <hr class="my-4">
  <p class="lead" >Y4D envisions a world in which the engagement & participation of youth & women is enforced in policy and program implementation utilizing person-centered solutions.</p>
</div>

<div id="tron" class="jumbotron container col-md-4" style="text-align:center; opacity:0.9;" >
  <h1 class="display-4">Mission.</h1>
  <hr class="my-4">
  <p class="lead" >To support youth & women to create positive
   change towards more inclusive, fair and sustainable communities. </p>

</div>


<div id="tron" class="jumbotron container col-md-4" style="text-align:center; opacity:0.9;" >
 <h1 class="display-4">Values.</h1>
  <hr class="my-4">

  <div >
<ul id="tron" class="list-unstyled text-center text-justify">

<li class="display-4 lead">Diversity</li>
<li class="display-4 lead">Equity </li>
<li class="display-4 lead">Inclusion</li>


</ul>
 
</div>

</div>


<div id="tron" class="jumbotron container col-md-4 " style="text-align:center; opacity:0.9;" >
  <h1 class="display-4">Goal</h1>
  <hr class="my-4">
  <p class="lead" >To inspire and equip young people with the necessary skills and confidence to reach their full potential.
  In addition to the very real, necessary work of promoting gender equality and social inclusion in our programs with young people, we are committed to advancing social inclusion ideals and goals within our organization and how we operate on a day-to-day basis. </p>

</div>
</div>