<div class="row mbh container-fluid">
<div id="tron" class="jumbotron container col-md-4 offset-md-1 " style="text-align:center;  opacity:0.9;" >
  <h1 class="display-4">Vision.</h1>
  <hr class="my-4">
  <p class="lead" >Y4D envisions a world in which the engagement & participation of youth & women is enforced in policy and program implementation utilizing person-centered solutions.</p>
</div>

<div id="tron" class="jumbotron container col-md-4 offset-md-1" style="text-align:center; opacity:0.9;" >
  <h1 class="display-4">Mission.</h1>
  <hr class="my-4">
  <p class="lead" >To support youth & women to create positive
   change towards more inclusive, fair and sustainable communities. </p>

</div>

</div>