<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<section>

<div class="container">
            <div class="row">
                 <div class="col-lg-10 mx-auto mb-4">
                    <div class="section-title text-center ">
                        <h3 class="top-c-sep">Opportunities</h3>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="career-search mb-60">

                        <div class="filter-result">


                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">


                                    <div class="job-content">

                                        <div class="d-flex justify-content-center">
                                  <div class="img-holder d-flex justify-content-center">
                                        VT
                                    </div>
                                        </div>


                                        <h5 class=" text-center">Partner With Us</h5>
                                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">Y4D works with corporations, foundations, educational institutions, and youth-serving organizations of every size, in diverse sectors, and from all parts of the globe to support our common strategic goals in achieving sustainable development.

We welcome collaborative projects to bring African youth-organisations and universities together to develop skills and knowledge creation in areas vital for sustainable development and job creation.
</p>
                                <div class="job-right my-4 flex-shrink-0 text-center">
                                    <a href="#" class="btn-learn-more text-center btn d-block d-sm-inline-block btn-light"
                                     data-toggle="modal" data-target="#pform">Apply now</a>
                                </div>

                                    </div>
                                </div>

                            </div>



                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">


                                    <div class="job-content">

                                        <div class="d-flex justify-content-center">
                                  <div class="img-holder d-flex justify-content-center">
                                        INT
                                    </div>
                                        </div>


                                        <h5 class=" text-center">Become an Intern</h5>
                                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">
                                            We offer internships in the following fields: Research, Project Management, International development
Benefits of The Internship:  
- Gain hands-on work experience in the real world and enhance your CV 
- Improvement of knowledge within the industry of your study 
- Communication & Research practice  
- Intercultural workplace experience 
- Many possibilities for recreation and socialisation

</p>
                                <div class="job-right my-4 flex-shrink-0 text-center">
                                    <a href="#" class="btn-learn-more text-center btn d-block d-sm-inline-block btn-light"
                                     data-toggle="modal" data-target="#iform">Apply now</a>
                                </div>

                                    </div>
                                </div>

                            </div>

                                                        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">


                                    <div class="job-content">

                                        <div class="d-flex justify-content-center">
                                  <div class="img-holder d-flex justify-content-center">
                                        INT
                                    </div>
                                        </div>


                                        <h5 class=" text-center">Volunteer With Us</h5>
                                        <p class="mbr-fonts-style text1 mbr-text display-6 text-justify">
                                            We accept Volunteers in the fields of : Research, Project Management, International development
Benefits of Volunteering:  
- Gain hands-on work experience in the real world and enhance your CV 
- Improvement of knowledge within the industry of your study 
- Communication & Research practice  
- Intercultural workplace experience 
- Many possibilities for recreation and socialisation

</p>
                                <div class="job-right my-4 flex-shrink-0 text-center">
                                    <a href="#" class="btn-learn-more text-center btn d-block d-sm-inline-block btn-light"
                                     data-toggle="modal" data-target="#vform">Apply now</a>
                                </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                    <!-- START Pagination -->

                    <!-- END Pagination -->
                </div>
            </div>

        </div>

</section>



<div class="modal fade" id="pform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Register as a Partner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">

          <div class="form-group">
            <label for="password1">Organization</label>
            <input type="text" class="form-control" id="password1" placeholder="Name of Organization">
          </div>
          <div class="form-group">
            <label for="password1">Email Address</label>
            <input type="email" class="form-control" id="password2" placeholder="Email Address">
          </div>
      <div class="form-group">
            <label for="email1">Phone</label>
            <input type="text" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Organization Mobile No">
            <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="vform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-center" id="exampleModalLabel">Register as a Volunteer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">

          <div class="form-group">
            <label for="password1">First Name</label>
            <input type="text" class="form-control" id="password1" placeholder="Enter First Name">
          </div>
          <div class="form-group">
            <label for="password1">Last Name</label>
            <input type="text" class="form-control" id="password2" placeholder="Enter Last Name">
          </div>
                    <div class="form-group">
            <label for="email1">Email Address</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="iform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Register as an Intern</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">

          <div class="form-group">
            <label for="password1">First Name</label>
            <input type="text" class="form-control" id="password1" placeholder="Enter First Name">
          </div>
          <div class="form-group">
            <label for="password1">Last Name</label>
            <input type="text" class="form-control" id="password2" placeholder="Enter Last Name">
          </div>
                    <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>